<h1>Users</h1>

<ul>
  <%@users.each do |user|%>
    <li>
      <%= "#{user.first_name} - #{user.last_name}"%>
      <ul>
        <%user.tasks.each do |task|%>
          <% if task.time.zero?  or task.active? %>
            <li>
              <div style="color: blue; "></div> <%= task.title%>
            </li>
          <%elsif task.finished_at.present?%>
            <li>
              <div style="color: green; "></div> <%= task.title%>
            </li>
          <%else%>
            <li>
              <div><%= task.title%></div> 
            </li>
          <%end%>            
        <%end%>
      </ul>
    </li>
  <%end%>
</ul>

<%#= link_to 'New Task', new_task_path %>
